<video controls autoplay>
  <source src="videos/<%= params[:name] %>" type="video/webm">
  Your browser does not support the video tag. Feel free to use this link to download it.
  <a href="videos/<%= params[:name] %>"><%= params[:name] %></a>
</video>
